@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: -45px;
	border: 0 none;
	margin-top: 20px;
}

.navbar-default {
	background-color: transparent;
	border-color: none;
}

.nav {
	padding-left: 30px;
	margin-bottom: 0;
	list-style: none;
}

.navbar-brand {
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 30px;
	line-height: 20px;
}


ul.nav li.dropdown:hover>ul.dropdown-menu {
	display: block;
	margin: 0;
}

ul.nav li:hover {
	background: #0080c0;
}

.navbar-default .navbar-nav>li>a :hover {
	color: #0080c0;
}

/* sub css */
.subvisual {
	padding-top: 100px;
	padding-bottom: 40px;
	text-align: center;
}

.subvisual h2 {
	font-size: 60px;
	padding-top: 30px;
}

.board_content {
	height: auto;
}

body {
	font-size: 16px;
}

.minus, .plus {
	width: 20px;
	height: 20px;
	line-height: 20px;
	background: transparent;
	border: 1px solid #dadada;
	diaplay: inline-block;
}

.quantity {
	width: 40px;
	height: 20px;
	line-height: 20px;
	padding: 2px 4px 2px;
	border: 1px solid #dadada;
	display: inline-block;
	font-size: 15px;
	text-align: center;
}

.total {
	color: #f40000;
	font-size: 30px;
	font-weight: 800;
	padding: 30px 0;
}

.main-pane {
	padding-top: 80px;
}

.bord_list {
	clear: both;
	padding-top: 40px;
}

.bord_table {
	width: 100%;
}

.bord_list th {
	padding: 15px 5px;
	text-align: center;
}

.bord_list tr,th,td{
	border: transparent;
}

.bord_table th {
	boarder:none;
}

.bord_table td {
	border-bottom: 1px solid #e0e0e0;
	padding: 15px 5px;
	text-align: center;
}

.bord_table td.title {
	text-align: left;
}

.btn-group-lg>.btn, .btn-lg {
	padding: 18px 16px;
	font-size: 20px;
	line-height: 1;
	border-radius: 6px;
	margin-bottom: 20px;
}

.div .col-lg-3 {
	padding-top: 165px;
	width: 25%;
}

.paging {
	clear: both;
	padding-top: 40px;
	text-align: center;
}

.paging a {
	padding: 10px;
	border: 1px solid #e0e0e0;
}

.paging a.active {
	background: #007dc6;
	color: #fff;
}

.search_wrap {
	margin-top: px;
}

.record_group {
	float: left;
}

.board_search_group {
	float: right;
	margin-right: 140px;
}

.record_group span {
	color: #007dc6;
}

.board_search_group .select {
	height: 44px;
	border: 1px solid #e0e0e0;
	padding: 5px;
}

.board_search_group .search_word {
	height: 44px;
	border: 1px solid #e0e0e0;
	padding: 5px;
	width: 220px;
}

.board_search_group .btn_search {
	height: 44px;
	border: 1px solid #e0e0e0;
	background: transparent; /*투명하게*/
	font-size: 16px;
	vertical-align: bottom;
}

.top_menu {
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	display: webkit-box;
	display: ms-flexbox;
	display: flex;
	padding: 20px 15px;
	ms-flex: 0 0 auto;
	webkit-box-flex: 0;
	flex: 0 0 auto;
	display: block;
}

.bbtn-lg {
	padding: 5px;
	background-color: transparent;
	border-radius: 0;
	webkit-box-flex: 0;
	border: none;
}

div .top_menu {
	display: block;
}


.div .col-lg-9 {
	padding-top: 165px;
}

.write_wrap {
	margin-top: 60px;
}

.write_wrap th, .write_wrap td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.write_wrap th {
	background: #f7f8fc;
	text-align: center;
}

.write_wrap .board_first th, .write_wrap .board_first td {
	border-top: 1px solid #333;
	
}

.write_wrap td {
	text-align: left;
}

.write_wrap input, .write_wrap textarea {
	border: 1px solid #dcdcdc;
	height: 33px;
	width: 100%;
}

.write_wrap textarea {
	height: 270px;
}

.write_wrap .btn_wrap {
	padding-top: 30px;
	text-align: center;
}

.write_wrap .btn_wrap .board_ok {
	width: 60px;
	border: 1px solid #0B60B0;
	background:#0B60B0;
	color: #fff;
}

.write_wrap .btn_wrap .board_reset {
	width: 70px;
	border: 1px solid #BF3131;
	background:#BF3131;
	color: #fff;
}

.write_wrap .btn_wrap .board_list {
	width: 70px;
	border: 1px solid #0B60B0;
	background:#0B60B0;
	color: #fff;
}

.board_writeBox {
	width: 900px;
	height: 650px;
	padding-top: 60px;
}

.board_view {
	height: 520px;
}

.board_view h2 {
	margin-top: 50px;
	margin-bottom: 16px;
	font-size: 50px;
	letter-spacing: -1px;
	text-align: center;
}

.board_view .info {
	font-size: 18px;
	text-align: center;
}

.board_view .info .user {
	color: #007dc6;
}

.board_body {
	padding: 70px 120px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-top: 60px;
}


.board_body p {
	margin-bottom: auto;
}

.prev_next {
	margin-top: 50px;
	height: 67px;
	position: relative;
}

.prev_next .btn_prev {
	text-align: left;
	width: 30%;
	display: inline-block;
	position: absolute;
	left: 0;
}

.prev_next .btn_next {
	text-align: right;
	width: 30%;
	display: inline-block;
	position: absolute;
	right: 0;
}

.prev_next .board_btn_3wrap {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	/* scale(크기),skew(기울이기),rotate(회전),teanslate(이동) */
}

.prev_next i {
	width: 56px;
	height: 56px;
	line-height: 56px;
	border: 1px solid #ddd;
	font-size: 22px;
	text-align: center;
}

.prev_next .prev_wrap, .prev_next .next_wrap {
	padding: 5px 15px 0;
	display: inline-block;
	height: 56px;
}

.prev_next .prev_wrap span, .prev_next .next_wrap span {
	display: block;
}

.board_btn_3wrap a {
	padding: 12px 18px;
	display: inline-block;
	border: 1px solid #fff;
	color: #fff;
}

.complet {
	background: #8893ab;
	color: #fff;
	padding: 5px 8px;
}

.waiting {
	background: #0489B1;
	color: #fff;
	padding: 5px 8px;
}

.boardList {
	margin: 0 auto;
}

.paging .btn-block {
    background: #0B60B0;
    padding: 10px 16px;
    color: #fff;
    float: right;
    width: 150px;
    margin: -40px;
    margin-top: -10px;
    margin-right: 0px;
}

.glyphicon-search{
	padding-left: 10px;
    padding-right: 10px;

}

.board_subvisual {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 40px;
}

.board_subvisual h2{
	font-size: 60px;
	padding-top: 30px;
}




 .bord_list table {
  border-collapse: collapse;
  margin: 0rem auto;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}

.bord_list tr{
	height: 60px;
}

.glyphicon.glyphicon-search{
	padding:0 10px;
}


 /* 테이블 행 */
.bord_list th,.bord_list td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #0B60B0;
  color: #fff;
}

/* 테이블 올렸을 때 */
tbody tr:hover {
  background-color: #d3d3d3;
  opacity: 0.9;
  cursor: pointer;
}

/* 테이블 비율 */
.bord_list th:nth-child(1),
.bord_list td:nth-child(1) {
  width: 10%;
}

.bord_list th:nth-child(2),
.bord_list td:nth-child(2) {
  width: 50%;
}

.bord_list th:nth-child(3),
.bord_list td:nth-child(3) {
  width: 15%;
}

.bord_list th:nth-child(4),
.bord_list td:nth-child(4) {
  width: 15%;
}

.bord_list th:nth-child(5),
.bord_list td:nth-child(5) {
  width: 15%;
}

.bord_table .bord_list .tbody tr {
	height: 20px;
}

.btn-list1 {
	padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.board_list_area th{
text-align: center;	
}

.board_list_area tr{
text-align: center;	
}

.board_list_area td{
text-align: center;	
}

.board_K{
padding-bottom: 10px;
}

.board_content {
	padding-top: 35px;
	width: 100%;
}

.board_panel{
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
}

.board_panel-body{
	padding-top: 20px;
	padding-right: 30px;
	border: 1px solid #00000026;
}


