@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

.thumbnail {
	border-radius: 20px;
}

.productname {
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	margin: 15px 0;
}

.container-fluid.subvisual11 {
	background: #FAFAFA;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 30px;
	padding: 25px;
}

.container.contents {
	background: #FFF;
}

.caption p, h3 {
	text-align: center;
}

.specifications {
	font-size: 15px;
	text-align: left;
	margin-top: 25px;
	margin-bottom: 15px;
	margin-left: 15px;
	line-height: 0.95;
}

.columns {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin: 15px 0;
}

.cart_table {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.cart_table tr,.cart_table th,.cart_table td {
	border: 1px solid #ddd;
}

#confirmationModal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1050;
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	width: 70%;
	max-width: 400px;
	text-align: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content button {
	margin: 10px;
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.modal-content p {
	font-size: 18px;
	margin-bottom: 15px;
}

#order {
	width: 80%;
	margin: 0 auto;
}

.table_write02 {
	margin: 20px 0; /* 간격을 위해 여백 추가 */
}

.w300 {
	width: 100%; /* 입력 필드가 컨테이너를 채우도록 함 */
}

/* 더 나은 가독성을 위한 추가 스타일링, 필요에 따라 조정 가능 */
label {
	font-weight: bold;
}

th, td {
	padding: 10px;
}

.productrow {
	margin: 0;
}

.ordercomplete {
	text-align: center;
	font-weight: bold;
	font-size: 27px;
	margin: 25px auto;
}

/* 모달 */
.modal-button {
	cursor: pointer;
	padding: 10px;
	background-color: #fff;
	color: black;
	border: 1px solid #ccc;
	border-radius: 4px;
	
}

/* 모달 스타일 */
.modal {
	display: none;
	position: fixed;
	z-index: 2;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* 닫기 버튼 스타일 */
.close {
	color: #000;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}