@charset "UTF-8";

* {
	padding:0;
	margin:0;
}

.subvisual {
	height: 300px;
	width:100%;
	background: #fff;
}

.thumbnail {
	border-radius:20px;
}

.pickup {
	color: #58ACFA;
	font-weight: bold;
}

.productname {
	margin-top: 20px;
	font-size: 40px;
	font-weight: bold;
}

.product-banner-image {
	width:100%;
	hieght:auto;

}
