/* Add these styles to your existing "css/signup.css" file or create a new one */

/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Container styles */
.container__join {
   max-width: 800px;
    margin: 60px auto;
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

/* Form styles */
.table_write02 {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-collapse: collapse;
}

.table_write02 th{
       background-color: rgb(0 0 0 / 24%);
}


.table_write02 th,
.table_write02 td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Input styles */
.w300 {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin:0 auto;
}

/* Button styles */

.btn_round_s {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    
}

.btn_large_s {
    font-size: 16px;
     text-align: center;
}


.btn_pointColor_s {
    background-color: #8a6d3bcf;
    color: #fff;
}
.btnArea  {
   margin : 0 auto;
   text-align: center;
   padding-top: 20px;
}
.btnArea a {
    background-color: #8a6d3b69;
    color: #fff;
    width: 100px;
}
/* Error message styles */
.must b {
    color: #f00;
    font-size:12px;
}

/* Additional styles for responsive design */
@media (max-width: 768px) {
    .table_write02 {
        max-width: 100%;
    }
}